
h1 {
    text-align: center;
}

html {
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Source Code Pro';
}

body {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #242424;
    color: #85FF0C;
}

div.help {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    width: 80%;
    height: 6em;
    border: 1px solid white;
}

div.column {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

div.controls {
    display: table-row;
    height: 0;
    width: 100%;
}

div.textareas {
    display: table-row;
    width: 100%;
}

textarea {
    width: 49%;
    height: 100%;
    display: inline-block;
}

input, textarea, select {
    background-color: #727272;
    color: #ffffff;
}

textarea.input {
    float:left;
}

textarea.output {
    float:right;
}

label {
    display: inline-block;
    width: 250px;
    text-align: right;
    padding-right: 1em;
}

input[type='text'] {
    width: 180px;
}
